:root {
    --texto-color: #c7c3ad;
    --texto-letras:Arial, Helvetica, sans-serif ;
}
.navigation{
    display: flex;
    margin: 0;
    list-style: none;
    gap: 1rem;
}
.encabezado {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 1rem;
}
.encabezado h1 {
    margin: 0.5rem;
}
.navigation li {
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--texto-color);
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 2rem;
    color: var(--texto-color);
    padding: 5px;
}
.saludo { 
    font-size: 4rem;
    font-family:monospace;
    color: #ff6b35;
    display: flex;
    justify-content: center;
    margin: 3rem;

    animation-name: animacion;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes animacion {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}
body {
    background-color: #444443;
    background-image: radial-gradient(circle at 50% 30%, #444443 0%, #272626 70%); /* 1f242d*/
}
.sobremi {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.main-container {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    margin-top: 5rem;
}
@media(max-width: 767px){
    .navigation {
        gap: 1rem;
    }
    .encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
}
    .saludo {
        font-size: 4rem;
        margin: 1.5rem 0;
    }
    .tarjeta-sobremi {
        width: 95%;
        padding: 0.75rem;
    }
    pre {
        font-size: 14px;
        overflow-x: auto;
    }
    .main-container {
        flex-direction: column;
        margin-top: 2rem;
    }
}