.navigation{
    display: flex;
    justify-content: center;
    gap: 10rem;
    list-style: none;
    margin: 400px;
}
a{
    text-decoration: none;
    color: darkblue;
}
h1{
    display: flex;
    justify-content: center;
    margin: 100px 0;
    color: rgb(67, 8, 123);
}
p{
    display: flex;
    justify-content: center;
}
body{
    background-color: rgb(178, 217, 217);
}